@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* パーツ */
.balloon__sample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.balloon__sample .balloon-outline {
  margin: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

/* 塗りつぶし吹き出し */
.balloon.tail--top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
}

.balloon.tail--top::before {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: currentColor;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(1em / 4 + 0);
  right: 0;
  left: 0;
}

.balloon.tail--top .balloon__contents {
  padding: 1em;
  background: #000;
  color: #fff;
  border-radius: 1em;
}

/* 塗りつぶし吹き出し */
.balloon.tail--right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 1em;
}

.balloon.tail--right::before {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: currentColor;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  right: calc(1em / 4 + 0);
  bottom: 0;
}

.balloon.tail--right .balloon__contents {
  padding: 1em;
  background: #000;
  color: #fff;
  border-radius: 1em;
}

/* 塗りつぶし吹き出し */
.balloon.tail--bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1em;
}

.balloon.tail--bottom::before {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: currentColor;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
  bottom: calc(1em / 4 + 0);
  left: 0;
}

.balloon.tail--bottom .balloon__contents {
  padding: 1em;
  background: #000;
  color: #fff;
  border-radius: 1em;
}

/* 塗りつぶし吹き出し */
.balloon.tail--left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1em;
}

.balloon.tail--left::before {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: currentColor;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  bottom: 0;
  left: calc(1em / 4 + 0);
}

.balloon.tail--left .balloon__contents {
  padding: 1em;
  background: #000;
  color: #fff;
  border-radius: 1em;
}

/* アウトライン吹き出し */
.balloon-outline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f00;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.balloon-outline::before {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: currentColor;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
}

.balloon-outline .balloon__contents {
  position: relative;
  z-index: 4;
  width: 100%;
  padding: 1em;
  color: #f00;
  background: #f00;
  border-radius: 1em;
}

.balloon-outline .balloon__contents::before {
  position: absolute;
  display: block;
  content: "";
  background: #cfc;
  z-index: 1;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  margin: auto;
  z-index: -1;
  border-radius: calc(1em - 2px);
}

.balloon-outline .balloon__contents::after {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: #cfc;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

.balloon-outline.tail--top {
  padding-top: 1em;
}

.balloon-outline.tail--top::before {
  top: calc(1em / 4 + 2px);
  right: 0;
  left: 0;
}

.balloon-outline.tail--right {
  padding-right: 1em;
}

.balloon-outline.tail--right::before {
  top: 0;
  right: calc(1em / 4 + 2px);
  bottom: 0;
}

.balloon-outline.tail--bottom {
  padding-bottom: 1em;
}

.balloon-outline.tail--bottom::before {
  right: 0;
  bottom: calc(1em / 4 + 2px);
  left: 0;
}

.balloon-outline.tail--left {
  padding-left: 1em;
}

.balloon-outline.tail--left::before {
  top: 0;
  bottom: 0;
  left: calc(1em / 4 + 2px);
}

.balloon-outline.tail--top {
  padding-top: 1em;
}

.balloon-outline.tail--top .balloon__contents::after {
  right: 0;
  bottom: calc(100% + 2px * 2 - 1em);
  left: 0;
}

.balloon-outline.tail--right {
  padding-right: 1em;
}

.balloon-outline.tail--right .balloon__contents::after {
  top: 0;
  bottom: 0;
  left: calc(100% + 2px * 2 - 1em);
}

.balloon-outline.tail--bottom {
  padding-bottom: 1em;
}

.balloon-outline.tail--bottom .balloon__contents::after {
  top: calc(100% + 2px * 2 - 1em);
  right: 0;
  left: 0;
}

.balloon-outline.tail--left {
  padding-left: 1em;
}

.balloon-outline.tail--left .balloon__contents::after {
  top: 0;
  right: calc(100% + 2px * 2 - 1em);
  bottom: 0;
}

.balloon2.tail--left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00f;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 1em;
}

.balloon2.tail--left::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin: auto;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0.25em;
  border-top: 1.5em solid rgba(255, 255, 255, 0);
  border-right: 1.5em solid #f0f;
  border-bottom: 1.5em solid rgba(255, 255, 255, 0);
}

.balloon2.tail--left .balloon__contents {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 1em;
  background: #f0f;
  color: #00f;
  border-radius: 1em;
}
/*# sourceMappingURL=style.css.map */