$balloonMainColor: #00f; //balloonのメインカラー
$balloonSubColor: #fff; //balloonのサブカラー

/* 塗りつぶし吹き出し */
.balloon {
    position: relative;
    display: flex;
    color: $balloonMainColor; // 吹き出しの背景色と同じ色
    justify-content: center;
    padding-bottom: 1em;

    &::before {
        position: absolute;
        content: "";
        width: 1.5em;
        height: 1.5em;
        background: currentColor; // .baloon の「文字色」を継承
        right: 0;
        bottom: .25em;
        left: 0;
        margin: auto;
        transform: rotate(45deg);
    }

    .balloon__contents {
        padding: 1em;
        background: $balloonMainColor; // 吹き出しの背景色
        color: #fff;
        border-radius: 1em;
    }
}

@mixin balloonOTailPosBefore($position,$size) {
        @if $position == top {
        top: $size / 4;
        right: 0;
        left: 0;
        } @else if $position == right {
            top: 0;
        right: $size / 4;
        bottom: 0;
        } @else if $position == bottom {
            right: 0;
        bottom: $size / 4;
        left: 0;
        } @else if $position == left {
        top: 0;
        bottom: 0;
        left: $size / 4;
        }
    }
@mixin balloonOTailPosAfter($position,$size,$borderWidth) {
        @if $position == top {
        top: calc( (#{$size}/4) + #{$borderWidth});
        right: 0;
        left: 0;
        } @else if $position == right {
            top: 0;
        right: calc( (#{$size}/4) + #{$borderWidth});
        bottom: 0;
        } @else if $position == bottom {
            right: 0;
        bottom: calc( (#{$size}/4) + #{$borderWidth});
        left: 0;
        } @else if $position == left {
        top: 0;
        bottom: 0;
        left: calc( (#{$size}/4) + #{$borderWidth});
        }
    }
@mixin baloonOutline($base: $balloonSubColor, $outline: $balloonMainColor, $borderWidth: 2px,$size: 1em,$position: bottom) {
    /* アウトライン吹き出し */
    .balloon-outline.tail--#{$position} {
        position: relative;
        display: flex;
        color: $outline;
        justify-content: center;
        padding-#{$position}: $size;
        &::before {
            position: absolute;
            content: "";
            width: ($size * 1.5);
            height: ($size * 1.5);
            background: currentColor; // .baloon の「文字色」を継承
            margin: auto;
            transform: rotate(45deg);
            z-index: 0;
            @include balloonOTailPosBefore($position,$size);
        }

        &::after {
            position: absolute;
            content: "";
            width: ($size * 1.5);
            height: ($size * 1.5);
            background: $base; // .baloon の「文字色」を継承
            margin: auto;
            transform: rotate(45deg);
            z-index: 3;
            @include balloonOTailPosAfter($position,$size,$borderWidth);
        }
        .balloon__contents {
            position: relative;
            z-index: 2;
            width: 100%;
            padding: 1em;
            background: $base; // 吹き出しの背景色
            border: $borderWidth solid $outline;
            color: $outline;
            border-radius: 1em;
        }
    }
}